<a href="https://colab.research.google.com/github/jingkefei/Jingke-Fei_INFO3020_Spring2020/blob/master/Assignment11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [0]:
import csv
filename = "assign11-1-ch02-data"
    with open(filename) as f:
        reader=csv.reader(f)
        for row in reader:
            if reader.line_num>1:
                print(row)
except csv.Error as e:
    print("Error reading CSV file at  line %s:%s" % (reader.line_num,e))
    exit(-1)

import pymysql

def importData(fn):
    with open(filename) as f:
        reader = csv.reader(f)
        for row in reader:
            pydb = pymysql.connect("localhost", "root", "19930625", "pydb")
            dbcursor = pydb.cursor()
            sql = "insert into ch02(Date.number) value(%$,%$)"
            data = row[0]
            number = row[1]
            values = (Date,number)
            dbcursor.execute(sql,values)
            cursor.close()
            db.close()

import pandas as pd

filename='ch02-data.csv'
data=pd.read_csv(filename)
Sum = data['numbers'].sum()
print(Sum)

Q2

In [0]:
import pandas as pd

filename="assign11-1-catering_sale_all.xlsx"
data=pd.read_excel(filename,header=None)
rows=len(data)
cols=len(data.keys())

for i in range(rows):
    for j in range(cols):
        print(data[j][i])
#for example choose date 2015-1-8
a=data[8][1]
b=data[8][2]
c=data[8][3]
d=data[8][4]
e=data[8][5]
f=data[8][6]
g=data[8][7]
h=data[8][8]
i=data[8][9]
j=data[8][10]

cf = data[0,1]
sd = data[0,2]
r = data[0,3]
fch = data[0,4]
sb = data[0,5]
fcb = data[0,6]
du = data[0,7]
cd = ddata[0,8]
p = data[0,9]
oc = data[0,10]
data=((a,cf),(b,sd),(c,r),(d,fch),(e,sb),(f,fcb),(g,du),(h,cd),(i,p),(j,oc))
best = list(map(min, zip(*test_list))) 
print ("The best sold is : " +  str(best))